.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/library/src/androidTest/java/com/dvd/android/library/colorlistpreference
/app/src/androidTest/java/com/dvd/android/colorlistpreference
/library/build
library/gpg.gpg
library/proguard-rules.pro
app/proguard-rules.pro
/app/build
app/manifest-merger-release-report.txt

*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.DS_Store
.classpath
.project
*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties
*/build/
*~
*.swp
/*/out
/*/*/build
/*/*/production